.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px !important;
    margin: 100px;
    margin-top: 200px;
 }
 @keyframes dropdown{
    0%   { bottom:0px; top:-100px;}
    25%  {bottom:10px; top:0px;}
    100% { bottom:0px; top:0px;}
 }
 
 .drop1{
    margin: 10px;
    position: relative;
    animation-name: dropdown;
    animation-duration: 4s;
 }
 .drop2{
    margin: 10px;
    position: relative;
    animation-name: dropdown;
    animation-duration: 4s;
    animation-delay: 0.2s;
 }
 .drop3{
    margin: 10px;
    position: relative;
    animation-name: dropdown;
    animation-duration: 4s;
    animation-delay: 0.3s;
 }